.footer {
    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
    .container {
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            @media screen and (min-width: 1200px) {
                display: flex;
                text-align: left;
        }
}
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    // color: #ffffff;
    margin-top: 20px;
    
}

.location {
    color: #ffffff;
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
        margin-bottom: 9px;
    }
}

.footer__link {
    // font-style: normal;
    // font-size: 14px;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer__mail {
    margin-bottom: 9px;
}

.footer__title {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    // margin-top: 60px;
    margin-bottom: 20px;
    color: #ffffff;
    
   
}

.footer__items {
    margin-top: 60px;
    @media screen and (min-width: 768px) {
        margin-top: 0;
       
    }
    @media screen and (min-width: 1200px) {
    padding-top: 12px;
    padding-left: 70px;
    }
}

.footer__mailing {
    margin-top: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 12px;
        padding-left: 93px;
        margin-top: 0;
        }
}

.footer__input {
    width: calc(100% - 30px);
    max-width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    padding-left: 16px;
    outline: none;
    color: #ffffff;
    &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
        @media screen and (min-width: 768px) {
            width: 358px;
        }
}

.footer__list {
    list-style: none;
}

.footer-contacts {
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
    justify-content: space-around;
        margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
    display: flex;
}
}

.form {
    margin-top: 60px;
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-top: 0;
    }
}