.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/hero-bg-mob.jpg);
    width: 320px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(/images/hero-bg-mob-2x.jpg);
      }
    @media screen and (min-width: 768px){
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/hero-bg-tab.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(/images/hero-tab-2x.jpg);
      }
    }
    @media screen and (min-width: 1200px){
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg.jpg);
        padding-top: 200px;
    padding-bottom: 200px;
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(/images/hero-bg-2x.jpg);
}
}
}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
// @media screen and (min-width: 768px)
// {
//     font-size: 44px;
//     line-height: 1.36;
//     text-align: center;
//         max-width: 696px;
//     margin-right: auto;
//     margin-left: auto;
// }
@media screen and (min-width: 1200px)
{
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
        max-width: 696px;
    margin-right: auto;
    margin-left: auto;
}
}