.menu-open {
    width: 40px;
    height: 40px;
    margin-left: auto;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    &:hover, &:focus {
      fill: #2196f3;
  }
    @media screen and (min-width: 768px) {
      display: none;
  }
  }
  
  .menu-close {
    position: absolute;
    // display: block;
    width: 40px;
    height: 40px;
    border: none;
    top: 10px;
    right: 15px;
    // border-radius: 50%;
    background-color: transparent;
    margin-left: auto;
    margin-bottom: 8px;
    cursor: pointer;
    display: flex;
      justify-content: center;
    align-items: center;
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
            fill: #2196f3;
        }
  }
  
  .mob-menu {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    top: 0;
    padding: 48px 40px;
    .container {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      overflow: auto;
    }
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .mob-menu-list {
    display: block;
  }
  
  .mob-menu-connect {
    display: block;
    font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  
  color: #757575;
  }
  
  .mob-menu-link {
    font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  
  color: #212121;
  }
  
  .mob-menu-item:not(:last-child) {
    margin-bottom: 32px;
  }
  
  .mob-menu-soc {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #757575;
  bottom: 48px;
  margin-top: 64px;
  color: #2196f3;
  &:hover, &:focus {
    fill: #2196f3;
  }
  }
  
  .mob-connect {
    margin-top: 32px;
  }
  
  .mob-soc {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

.mob-current {
  color: #2196f3;
}